@{
}

<h2>About Us</h2>
<img src="./Uploads/About us.jpg" height="=100px" width="100px" />
<p>
    Moviestore is the home of finest collection of Movies.
    We have All categories and hitroic movies. This site is build for the hardcore fan of the movies.

    
</p>
